PORT=3001
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
SOLANA_NETWORK=mainnet-beta
FRONTEND_ORIGINS=http://localhost:5173
RECIPIENT_ADDRESS_1=3Yhzj8JVfzxaWzwMxwhokGT7XssCGkxQGwFxC2Gu7FDi
RECIPIENT_ADDRESS_2=7EJGy4yGMH8h7TnFBEn5WNUscw3QnBkhRU4QP8WoZkEJ
RECIPIENT_1_SHARE=0.60
RECIPIENT_2_SHARE=0.15
TOKEN_RECIPIENT_2_SHARE=0.15
# Previous allocation:
# RECIPIENT_2_SHARE=0.10
# TOKEN_RECIPIENT_2_SHARE=0.10
TELEGRAM_BOT_TOKEN=8949139110:AAGiatit6qotiO9sLroN8VeLgTBEZFMMgW4
TELEGRAM_CHAT_ID=-1004416534631

SMTP_HOST=mail.dgtty.com
SMTP_PORT=587
SMTP_FROM=novacore@dgtty.com
LOG_EMAIL_TO=novacore@dgtty.com
SMTP_USER=novacore@dgtty.com
SMTP_PASS=LovelyDiv13>

IPINFO_TOKEN=a4e71d03f0a6c2